page-list {
    .ion-ios-comunidades,
    .ion-md-comunidades {
      content: url('../assets/icones/comunidade.png');
      width: 42px;
      height: 42px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-igreja,
    .ion-md-igreja {
      content: url('../assets/icones/igreja.png');
      width: 42px;
      height: 42px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-matriz,
    .ion-md-matriz {
      content: url('../assets/icones/matriz.png');
      width: 42px;
      height: 42px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-clero,
    .ion-md-clero {
      content: url('../assets/icones/pope.png');
      width: 42px;
      height: 42px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-paroco,
    .ion-md-paroco {
      content: url('../assets/icones/paroco.png');
      width: 42px;
      height: 42px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    .ion-ios-padroeiro,
    .ion-md-padroeiro {
      content: url('../assets/icones/padroeiro.png');
      width: 42px;
      height: 42px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    }